<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servletbank</servlet-name>
        <servlet-class>Servletbank</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servletpass</servlet-name>
        <servlet-class>Servletpass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_sql</servlet-name>
        <servlet-class>Servlet_sql</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>billServlet</servlet-name>
        <servlet-class>billServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalbillServlet</servlet-name>
        <servlet-class>TotalbillServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>arcir</servlet-name>
        <servlet-class>arcir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servletpng</servlet-name>
        <servlet-class>Servletpng</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ticket</servlet-name>
        <servlet-class>ticket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ticketprint</servlet-name>
        <servlet-class>ticketprint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Details</servlet-name>
        <servlet-class>Details</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Data</servlet-name>
        <servlet-class>Data</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>Upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servletbank</servlet-name>
        <url-pattern>/Servletbank</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servletpass</servlet-name>
        <url-pattern>/Servletpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_sql</servlet-name>
        <url-pattern>/Servlet_sql</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>billServlet</servlet-name>
        <url-pattern>/billServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TotalbillServlet</servlet-name>
        <url-pattern>/TotalbillServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>arcir</servlet-name>
        <url-pattern>/arcir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servletpng</servlet-name>
        <url-pattern>/Servletpng</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ticket</servlet-name>
        <url-pattern>/ticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ticketprint</servlet-name>
        <url-pattern>/ticketprint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Details</servlet-name>
        <url-pattern>/Details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Data</servlet-name>
        <url-pattern>/Data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
